<h1> Bookmarks </h1>

<ul> 
  <% @bookmarks.each do |bookmark| %>
    <li> <%= bookmark %> </li>
  <% end %>
</ul>

<form action="/bookmarks" method="post">
  <label for="url">Add Bookmark:</label>
  <input type="text" name="url" placeholder="http://www.example.com" autocomplete="off" required>
  <input type="submit" value="Submit">
</form>