<h1> Edit Bookmark </h1>

<div> <%="Current Title: #{@bookmark.title}"%></div>
<div> <%= "Current URL: #{@bookmark.url}"%> </div>

<form action="/bookmarks/<%=@bookmark.id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="title">New Title:</label>    
  <input type="text" name="title" autocomplete="off" required>
  <br>
  <label for="url">New URL:</label>
  <input type="text" name="url" autocomplete="off" required>
  <br>
  <input type="submit" value="Submit">
</form>