<form action="/bookmarks/<%=@bookmark_id%>" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="title">Title:</label>
  <input type="text" name="title" autocomplete="off" required>
  <label for="url">URL:</label>
  <input type="text" name="url" autocomplete="off" required>
  <input type="submit" value="Submit">
</form>