<h1> Sign In </h1>

<div>
  <div> 
    <%= flash[:notice] %>
  </div>

  <form action="/sessions" method="post">
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" autocomplete="off">
    <input type="submit" value="Sign In">
  </form>
</div>