<h1> Sign Up </h1>

<div>
  <form action="/users" method="post">
    <label for="username">Username</label>
    <input type="text" name="username" required>
    <label for="email">Email</label>
    <input type="email" name="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" autocomplete="off">
    <input type="submit" value="Submit">
  </form>
</div>